---
import { siteConfig } from "@/config";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getPostBySlug } from "@utils/content-utils";
import { Icon } from "astro-icon/components";
import PostMetadata from "../../components/PostMeta.astro";
import Markdown from "@components/misc/Markdown.astro";
import { getPostUrlBySlug } from "@utils/url-utils";
import { licenseConfig } from "src/config";
import License from "@components/misc/License.astro";

const { slug } = Astro.params;
const blog = await getPostBySlug(slug!);
const siteUrl = import.meta.env.PUBLIC_SITE_URL;
const jsonLd = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: blog.title,
  description: blog.meta_description || blog.title,
  keywords: blog.relatedQueries
    ?.map((q: { query: string }) => q.query)
    .join(", "),
  image: blog.thumbnail?.data
    ? `data:image/png;base64,${blog.thumbnail.data}`
    : blog.thumbnail?.url,
  author: {
    "@type": "Organization",
    name: siteConfig.title,
    url: siteUrl,
  },
  publisher: {
    "@type": "Organization",
    name: siteConfig.title,
    logo: {
      "@type": "ImageObject",
      url: siteUrl,
    },
  },
  datePublished: new Date(blog.created_at),
  dateModified: new Date(blog.updated_at) || new Date(blog.created_at),
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": `${siteUrl}/news/${blog.slug}`,
  },
};
const category =
  (blog.categories && blog.categories.length > 0 && blog.categories[0]) ||
  undefined;
---

<MainGridLayout setOGTypeArticle={true}>
  <script
    is:inline
    slot="head"
    type="application/ld+json"
    set:html={JSON.stringify(jsonLd)}
  />

  <div
    class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative mb-4"
  >
    <div
      id="post-container"
      class:list={[
        "card-base z-10 px-6 md:px-9 pt-6 pb-4 relative w-full ",
        {},
      ]}
    >
      <!-- title -->
      <div class="relative onload-animation">
        <div
          data-pagefind-body
          data-pagefind-weight="10"
          data-pagefind-meta="title"
          class="transition w-full block font-bold mb-3
                    text-3xl md:text-[2.25rem]/[2.75rem]
                    text-black/90 dark:text-white/90
                    md:before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)]
                    before:absolute before:top-[0.75rem] before:left-[-1.125rem]"
        >
          {blog.title}
        </div>
      </div>

      <div class="onload-animation">
        <PostMetadata
          class="mb-5"
          published={new Date(blog.created_at)}
          updated={new Date(blog.created_at)}
          tags={blog.tags}
          category={category}
        />
        {
          !jsonLd.image && (
            <div class="border-[var(--line-divider)] border-dashed border-b-[1px] mb-5" />
          )
        }
      </div>

      <Markdown class="mb-6 markdown-content onload-animation">
        <div set:html={blog.content} />
      </Markdown>

      {
        licenseConfig.enable && (
          <License
            sourceName={blog?.article?.source}
            sourceUrl={blog?.article?.url}
            title={blog.title}
            slug={blog.slug}
            pubDate={new Date(blog.created_at)}
            class="mb-6 rounded-xl license-container onload-animation"
          />
        )
      }
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row justify-between mb-4 gap-4 overflow-hidden w-full"
  >
    <a
      href={blog?.nextSlug ? getPostUrlBySlug(blog?.nextSlug) : "#"}
      class:list={[
        "w-full font-bold overflow-hidden active:scale-95",
        { "pointer-events-none": !blog?.nextSlug },
      ]}
    >
      {
        blog?.nextSlug && (
          <div class="btn-card rounded-2xl w-full h-[3.75rem] max-w-full px-4 flex items-center !justify-start gap-4">
            <Icon
              name="material-symbols:chevron-left-rounded"
              class="text-[2rem] text-[var(--primary)]"
            />
            <div class="overflow-hidden transition overflow-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-black/75 dark:text-white/75">
              {blog?.nextTitle}
            </div>
          </div>
        )
      }
    </a>

    <a
      href={blog?.prevSlug ? getPostUrlBySlug(blog?.prevSlug) : "#"}
      class:list={[
        "w-full font-bold overflow-hidden active:scale-95",
        { "pointer-events-none": !blog?.prevSlug },
      ]}
    >
      {
        blog?.prevSlug && (
          <div class="btn-card rounded-2xl w-full h-[3.75rem] max-w-full px-4 flex items-center !justify-end gap-4">
            <div class="overflow-hidden transition overflow-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-black/75 dark:text-white/75">
              {blog?.prevTitle}
            </div>
            <Icon
              name="material-symbols:chevron-right-rounded"
              class="text-[2rem] text-[var(--primary)]"
            />
          </div>
        )
      }
    </a>
  </div>

  <div></div>
</MainGridLayout>
