---
import ListLayout from "~/layouts/list.astro";

import { getEntry } from "astro:content";
import { AdsenseHorizontal } from "~/components/adsense";
import WideCard from "~/components/cards/wideCard.astro";
import PaginationOne from "~/components/shared/pagination-one.astro";
import { getPostsByCategory } from "~/lib/api/post";
import Divider from "~/components/bases/divider.astro";

const { category: categorySlug, slug: pageString } = Astro.params;
const { adsense } = Astro.locals;

const pageNumber = Number(pageString?.split("-")[1]);

const pathname = new URL(Astro.request.url).pathname.split("/");
const firstPath = pathname[1];

const [response, entry] = await Promise.all([
  getPostsByCategory(Number(pageNumber), categorySlug!),
  getEntry("views", "categories"),
]);

const { data: articles, category, ...page } = response;

if (!entry) {
  return Astro.redirect("/404");
}
---

<ListLayout
  header={category?.name!}
  description={entry?.data?.description}
  title={category?.name}
  entry={entry}
>
  <ul class="flex flex-col gap-2 flex-1">
    {
      articles?.map((article: ArticleItem, index: number) => {
        const pub = adsense?.adsense_client || "";
        const slots =
          adsense?.adsense_slots?.filter(
            (slot) => slot.slot_type === "horizontal"
          ) || [];
        const slotIndex = Math.floor(index / 2) % slots.length;
        const slot = slots[slotIndex];

        return (
          <li>
            <WideCard
              article={article}
              isLast={articles?.lastIndexOf(article) === articles?.length - 1}
            />

            {(index + 1) % 2 === 0 && index + 1 < articles.length && (
              <div
                id={"category-adsense-" + slot.slot_name}
                class="group w-full mx-auto lg:max-w-full "
              >
                <AdsenseHorizontal
                  client:only="react"
                  pub={pub}
                  slot_adsense={{ id: slot.slot_id, name: slot.slot_name }}
                />
              </div>
            )}
          </li>
        );
      })
    }
  </ul>

  <PaginationOne
    length={page?.lastPage}
    currentUrl={`${Astro.url.origin}/${page?.url?.current}`}
    currentPage={page?.currentPage}
    firstUrl={`${Astro.url.origin}/${firstPath}`}
    prevUrl={`${Astro.url.origin}/${page?.url?.prev}`}
    nextUrl={`${Astro.url.origin}/${page?.url?.next}`}
    lastUrl={`${Astro.url.origin}/${firstPath}/${category?.slug}/trang-${page?.lastPage}`}
  />
</ListLayout>
