---
import { getDateDistance } from "~/lib/utils/date";
import Divider from "../bases/divider.astro";
import { base64ToWebP } from "~/lib/utils/imageProcessor";

type Props = {
  article: ArticleItem;
  isLast: boolean;
};

const { article, isLast } = Astro.props;

let thumbnail = { src: article?.thumbnail?.data, width: 800, height: 600 };
if (thumbnail.src?.startsWith("data:image/")) {
  const processed = await base64ToWebP(thumbnail.src.split(",")[1]);
  if (processed) {
    thumbnail = processed;
  }
}
---

<li class="group w-full mx-auto lg:max-w-full">
  <a
    href={`/bai-viet/${article?.slug}`}
    class="flex flex-col lg:flex-row gap-4"
  >
    <div
      class="flex-shrink-0 aspect-square w-32 text-sm text-base-content/60 text-pretty capitalize hidden lg:flex pt-1"
    >
      {getDateDistance(article.created_at)}
    </div>
    <div
      class:list={[
        "flex-1 flex flex-col gap-4 lg:flex-row-reverse pb-2 lg:pb-4",
        isLast ? "border-b-0" : "border-b",
      ]}
    >
      <div class="w-full lg:w-60 aspect-video">
        <img
          alt={article?.thumbnail?.slug}
          src={thumbnail.src}
          height={thumbnail.height}
          width={thumbnail.width}
          loading={"lazy"}
          class="aspect-video rounded w-full h-full object-cover"
          decoding="async"
        />
      </div>
      <div class="flex-1 space-y-2">
        <h3 class="text-xl font-semibold lg:group-hover:underline">
          {article.title}
        </h3>
        <p
          set:html={article?.meta_description}
          class="text-base-content/80 max-w-xl text-pretty"
        />
      </div>
      <div class="text-sm lg:hidden flex item-center text-base-content/70 pt-2">
        <time
          class="flex items-center gap-1"
          datetime={String(article?.created_at)}
        >
          <span>
            {getDateDistance(article.created_at)}
          </span>
        </time>
        {
          Number(article?.categories?.length) > 0 && (
            <>
              <Divider />
              <small class="flex items-center gap-1">
                <span class="capitalize text-sm">
                  {article?.categories?.map((cate) => cate.name).join(", ")}
                </span>
              </small>
            </>
          )
        }
      </div>
    </div>
  </a>
</li>
