---
import AdsenseHorizontal from "~/components/adsense/adsense-horizontal.astro";
import BaseLayout from "~/layouts/base.astro";
import FeatureNews from "./_home/featureNews.astro";
import Headlines from "./_home/headlines.astro";
import OtherNews from "./_home/otherNews.astro";
import AdsenseMultiplex from "~/components/adsense/adsense-multiplex.astro";
const { home, adsense } = Astro.locals;
const adsense_1 = adsense?.adsense_slots?.find(
  (adsense) => adsense?.slot_name == "multiplex"
);
const adsense_2 = adsense?.adsense_slots?.find(
  (adsense) => adsense?.slot_name == "horizontal-1"
);
---

<BaseLayout>
  {home?.recentNews && <Headlines articles={home?.recentNews} />}
  {
    adsense_1 && (
      <section
        class="grid grid-cols-1 gap-6 md:grid-cols-10 container"
        data-pagefind-ignore="all"
      >
        <AdsenseMultiplex
          pud={adsense.adsense_client}
          slot_adsense={{
            id: adsense_1?.slot_id,
            name: adsense_1?.slot_name,
          }}
        />
      </section>
    )
  }
  {home?.featureNews && <FeatureNews articles={home?.featureNews} />}
  {
    adsense_2 && (
      <section
        class="grid grid-cols-1 gap-6 md:grid-cols-10 container"
        data-pagefind-ignore="all"
      >
        <AdsenseHorizontal
          pud={adsense.adsense_client}
          slot_adsense={{
            id: adsense_2?.slot_id,
            name: adsense_2?.slot_name,
          }}
        />
      </section>
    )
  }

  {home?.otherNews && <OtherNews articles={home?.otherNews} />}
</BaseLayout>
