---
import Calendar04 from "~/assets/svgs/calendar-04.astro";
import ResourcesAdd from "~/assets/svgs/resources-add.astro";
import Divider from "~/components/bases/divider.astro";
import { formatDate } from "~/lib/utils/date";
import type { ArticleItem } from "~/types";

type Props = {
  article: ArticleItem;
};

const { article } = Astro.props;
---

<section
  class="mb-8 flex flex-col lg:flex-col-reverse items-center justify-center border-b lg:border-none pb-2 pt-0 lg:pt-6"
>
  <div class="container my-4 lg:hidden flex items-center gap-2">
    <ResourcesAdd size="16" />
    {
      article?.categories?.map((cate) => {
        return (
          <a href={`/danh-muc/${cate.slug}`} class="a-01 font-semibold">
            {cate?.name}
          </a>
        );
      })
    }
  </div>
  <div class="container">
    <h1 class="text-2xl lg:text-4xl font-bold text-left text-pretty">
      {article?.title}
    </h1>
    <div class="flex flex-col gap-4 items-start mt-2 lg:mt-6 text-sm">
      <div class="text-base-content/70 flex items-center gap-2">
        <span class="lg:flex items-center gap-1 hidden">
          <ResourcesAdd size="15" />
          {
            article?.categories?.map((cate) => {
              return (
                <a href={`/danh-muc/${cate.slug}`} class="a-01 font-semibold">
                  {cate?.name}
                </a>
              );
            })
          }
        </span>
        <div class="hidden lg:block">
          <Divider />
        </div>
        <span class="flex items-center gap-1">
          <Calendar04 size="15" />
          <time class="hidden lg:block" datetime={article?.created_at}
            >{formatDate(new Date().toISOString(), "long")}</time
          >
          <time class="block lg:hidden" datetime={article?.created_at}
            >{formatDate(new Date().toISOString(), "short")}</time
          >
        </span>
        <Divider />
      </div>
    </div>
  </div>
</section>
