---
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---

<div
  class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4"
>
  {
    page?.data?.map(
      (entry: {
        id: number;
        title: string;
        meta_description: string;
        created_at: Date;
        thumbnail: any;
        slug: string;
        status: string;
        categories?: any;
      }) => {
        return (
          <PostCard
            entry={entry}
            title={entry.title}
            url={getPostUrlBySlug(entry.slug)}
            published={new Date(entry.created_at)}
            category={entry.categories[0]}
            thumbnail={entry.thumbnail}
            description={entry.meta_description}
            class:list="onload-animation"
            style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
          />
        );
      }
    )
  }
</div>
